body {
    background-color: black;
    background: url(../assets/background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1,h2,h3,h4,h5,h6,p,button {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.center-horizontal {
    margin-left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}
.right {
    margin-left: 90%;
}
.center-box {
    width: 100%;
    display: inline-block;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bottom {
    width: 100%;
    position: absolute;
    bottom: 3.8%;
}
.title {
    font-size: 3em;
    text-align: center;
}
.medium-title {
    font-size: 2.47em;
    text-align: center;
}
.button {
    margin-top: -12px;
    border-radius: 7px;
    border-color: transparent;
    background-color: transparent;
    color: white;
    font-size: 7.27vw;
    letter-spacing: 1.4px;
    align-self: center;
}
.app-img {
    width: 26vw;
    height: 26vw;
    /* border-radius: 13px; */
}
.loading-img {
    margin-top: 12.5vh;
    width: 14vw;
    height: 14vw;
}

.instructions {
    margin-top: 15.3vh;
    text-align: center;
    font-size: 4.8vw;
}
#redemption-code {
    margin-top: 53vh;
    text-align: center;
    font-size: 2.95vw;
    color: rgba(245,245,245,0.93)
}
#generate-button {
    margin-top: 12.5vh;
}
#generate-button-inner {
    border: 2.9px solid white;
    border-radius: 12px;
    width: 64vw;
    padding-top: 16px;
    padding-bottom: 16px;
}

#install-button {
    letter-spacing: 0.4px !important;
    margin-top: 12.5vh;
}

#code {
    margin-top: -8px;
    font-size: 4.5em;
}

#next-arrow-img {
    margin-bottom: -3.5px;
    width: 6.6vw;
    height: 6.6vw;
}

#help-button {
    width: 6.8vw;
    height: 6.8vw;
}